$main-blue: #0264a3;
$red:red;
.header-top {
    background-color: $main-blue;
    .nav {
        height: 50px;
       
        &__item {
            margin-right: 40px;
            &-link {
                color: white;
                height: 100%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                border-bottom: 3px solid transparent;

                &:hover{
                    text-decoration: none;
                    border-bottom: 3px solid $red;
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
.test{
    background: #0264a3;
}
.test{
    font-size: 0cm;
}